{% extends "user_home.html" %}


{% block content %}

{% if messages %}
    <div class="alert-container">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
<div class="container" >
    <h2 style="color:#1b263b; margin-top:20px;">Place a Bid on "{{ item.item_name }}"</h2>

    <!-- Display current highest bid (if any) -->
    {% if highest_bid %}
        <p>Current highest bid: <strong>{{ highest_bid.bid_amount }}</strong> by {{ highest_bid.bidder.username }}</p>
    {% else %}
        <p>No bids yet for this item.</p>
    {% endif %}


    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="bid_amount">Bid Amount</label>
            <input type="number" name="bid_amount" id="bid_amount" class="form-control" min="0" step="0.01" required>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top:20px;">Place Bid</button>
    </form>
    <a href="{% url 'item_details' item_id=item.id %}" class="btn btn-secondary mt-3">Back to Auctions List</a>
</div>
{% endblock %}
